.header-container {
  display: flex;
  background-color: var(--headerbrown);
  width: 100%;
  padding: 1% 2%;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.header-item {
  flex-grow: 1;
  text-align: center;
}
.header-title {
  font-size: 24px;
}
.header-profile {
  text-align: right;
  color: white;
  font-weight: bold;
}
.fa-bars {
  text-align: left;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 7rem 18rem;
}

.filter {
  display: grid;
  background-color: var(--brown);
  width: 100%;
  padding: 1.6rem;
  gap: 1rem 0;
  border-radius: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "name name-input name-input name-input name-input name-input"
    "en_name en_name-input en_name-input en_name-input en_name-input en_name-input"
    "github github-input gender gender-select role role-select"
    "group1 group1-input group1-input group2 group2-input group2-input"
    "reset_btn reset_btn reset_btn search_btn search_btn search_btn";
}
.filter label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--gray);
  font-size: 1.2rem;
  font-weight: 600;
}
.filter input::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.name {
  grid-area: name;
  background-color: var(--lightgray);
}
.name-input {
  grid-area: name-input;
  background-color: white;
}
.name-input input {
  width: 90%;
}

.en_name {
  grid-area: en_name;
  background-color: var(--lightgray);
}
.en_name-input {
  grid-area: en_name-input;
  background-color: white;
}
.en_name-input input {
  width: 90%;
}

.github {
  grid-area: github;
  background-color: var(--lightgray);
}
.github-input {
  grid-area: github-input;
  background-color: white;
}
.gender {
  grid-area: gender;
  background-color: var(--lightgray);
}
.gender-select {
  grid-area: gender-select;
  background-color: white;
}
.gender-select select {
  width: 99%;
}
.role {
  grid-area: role;
  text-align: center;
  background-color: var(--lightgray);
}
.role-select {
  grid-area: role-select;
  background-color: white;
}
.role-select select {
  width: 99%;
}

.group1 {
  grid-area: group1;
  background-color: var(--lightgray);
}
.group1-input {
  grid-area: group1-input;
  background-color: white;
}
.group1-input input {
  width: 90%;
}
.group2 {
  grid-area: group2;
  background-color: var(--lightgray);
}
.group2-input {
  grid-area: group2-input;
  background-color: white;
}
.group2-input input {
  width: 90%;
}

.reset_btn,
.search_btn {
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  padding: 1%;
}
.reset_btn {
  grid-area: reset_btn;
  background-color: var(--lightbrown);
}
.reset_btn button {
  width: 100%;
  color: white;
  background-color: var(--lightbrown);
}
.search_btn {
  grid-area: search_btn;
  background-color: var(--darkbrown);
}
.search_btn button {
  width: 100%;
  color: white;
  background-color: var(--darkbrown);
}

.table-btn {
  display: flex;
  justify-content: end;
  gap: 1rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}
.delete_btn {
  background-color: var(--lightbrown);
  border-radius: 5px;
  padding: 0 2.5rem;
  color: white;
}
.add_btn {
  background-color: var(--darkbrown);
  border-radius: 5px;
  padding: 0 3rem;
  color: white;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
.members-table th:nth-child(1),
.members-table td:nth-child(1) {
  width: 5%;
}

.members-table th:nth-child(2),
.members-table td:nth-child(2),
.members-table th:nth-child(3),
.members-table td:nth-child(3) {
  width: 15%;
}

.members-table th:nth-child(4),
.members-table td:nth-child(4) {
  width: 20%;
}

.members-table th:nth-child(5),
.members-table td:nth-child(5),
.members-table th:nth-child(6),
.members-table td:nth-child(6),
.members-table th:nth-child(7),
.members-table td:nth-child(7),
.members-table th:nth-child(8),
.members-table td:nth-child(8) {
  width: 10%;
}
.members-table th {
  background-color: var(--red);
  color: white;
  padding: 12px;
  font-size: 1.2rem;
  border: 1px solid var(--brown);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.members-table td {
  background-color: white;
  padding: 12px;
  font-size: 1.2rem;
  border: 1px solid rgb(167, 134, 127);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.table-btn {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}
.members-table-body a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2rem;
}
